.App {
  text-align: center;
  background-color: #282c34; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;     
  justify-content: center;
  align-items: center;
  color: white;      
}

.counter {
  border: 20px solid rgb(12, 207, 207);
  border-radius: 15px;
  width: 20vh;
  height: 20vh;
  display: flex;           
  justify-content: center; 
  align-items: center;
  font-size: 10vw; 
  padding: 10px; 
  box-sizing: border-box;
}

.button {
  margin-top: 20px;
  background-color: transparent;
  border: 3px solid #F28F8F; 
  border-radius: 10px;      
  padding: 10px 20px;       
  font-size: 1rem;  
  color:white;     
  cursor: pointer;   
  transition: border-color 0.3s ease, transform 0.2s ease; 
}

.button:hover {
  border: 3px solid rgb(207, 82, 82); 
  transform: scale(1.05);   
}

.button:active {
  transform: scale(0.95);
}